@{
    ViewData["Title"] = "Funcionários";
}
<h1>@ViewData["Title"]</h1>

<div class="borderdiv" id="imgM">
    <img src="/fotografias/func02.jpg" id="img" width=176 height=176>
</div>

<div class="borderdiv" id="imgP">
    <img src="/fotografias/func03.png" id="img" width=176 height=176>
</div>

<div class="borderdiv" id="imgBT">
    <img src="/fotografias/func01.png" id="img" width=176 height=176>
</div>


<div class="borderdiv2" id="mecanico">
    <p id="desc">Nome: João Pedro Silva</p>
    <p id="desc">Idade: 42 anos</p>
    <p id="desc">Especialidade: Mecânico</p>
</div>

<div class="borderdiv2" id="pintor">
    <p id="desc">Nome: André Costa</p>
    <p id="desc">Idade: 24 anos</p>
    <p id="desc">Especialidade: Pintor</p>
</div>

<div class="borderdiv2" id="bc">
    <p id="desc">Nome: Alberto Santos</p>
    <p id="desc">Idade: 36 anos</p>
    <p id="desc">Especialidade: Bate-Chapas</p>
</div>
