@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Services, How Can We Help You?, Need Help Right Away?, Best Quality, Our Services, Get your 'TO DO' list completed by a real professional!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Inicio</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Inicio.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.15.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Black:400">
    
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"context": "http://schema.org",
		"type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/Capture.PNG"
}</script>
    <meta property="og:title" content="Inicio">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body data-home-page="Inicio.html" data-home-page-title="Inicio" class="u-body"><header class="u-clearfix u-header u-header" id="sec-27b5"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="150" data-image-height="86">
          <img src="images/Capture.PNG" class="u-logo-image u-logo-image-1" data-image-width="152">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Inicio.html" style="padding: 10px 20px;">Inicio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Sobre.html" style="padding: 10px 20px;">Sobre</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contactos.html" style="padding: 10px 20px;">Contactos</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Inicio.html" style="padding: 10px 20px;">Inicio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Sobre.html" style="padding: 10px 20px;">Sobre</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contactos.html" style="padding: 10px 20px;">Contactos</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_a18f" data-image-width="150" data-image-height="94">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h4 class="u-text u-text-body-alt-color u-text-1">reparações automovel</h4>
                      <h1 class="u-text u-title u-text-2">auto tudo</h1>
                      <div class="u-border-11 u-border-white u-expanded-width u-line u-line-horizontal u-line-1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-spacing-10 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 360.855 360.855" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-67fa"></use></svg><svg class="u-svg-content" viewBox="0 0 360.855 360.855" x="0px" y="0px" id="svg-67fa" style="enable-background:new 0 0 360.855 360.855;"><g><path d="M180.428,197.204c24.125,0,80.846-29.034,80.846-98.603c0-9.704-0.236-19.078-1.036-27.935   c-1.313-17.431-4.883-32.879-13.772-44.718C235.064,9.837,215.116,0,180.428,0c-34.682,0-54.629,9.833-66.031,25.939   c-8.895,11.842-12.467,27.294-13.779,44.731c-0.799,8.856-1.035,18.229-1.035,27.932   C99.582,168.17,156.303,197.204,180.428,197.204z M206.817,36.123c-2.354,5.951-3.534,8.927-5.89,14.877   c-15.209-4.297-25.791-4.297-41,0c-2.355-5.95-3.535-8.926-5.891-14.877C173.057,30.365,187.799,30.366,206.817,36.123z    M111.609,83.517c0.932,2.037,4.889,9.87,11.014,10.604c7.041,0.845,18.728-24.935,57.805-24.998   c39.076,0.063,50.764,25.843,57.805,24.998c6.125-0.735,10.082-8.567,11.014-10.604c0.189,4.992,0.259,10.046,0.259,15.085   c0,34.005-15.015,55.075-27.612,66.762c-15.871,14.727-33.493,20.072-41.465,20.072s-25.594-5.345-41.465-20.072   c-12.598-11.687-27.612-32.757-27.612-66.762C111.351,93.563,111.42,88.509,111.609,83.517z"></path><path d="M330.52,298.327c-4.128-25.664-12.624-58.724-29.668-70.472c-11.64-8.026-52.248-29.721-69.589-38.985l-0.293-0.156   c-1.982-1.059-4.403-0.846-6.169,0.541c-9.084,7.131-19.034,11.937-29.574,14.284c-1.862,0.415-3.391,1.738-4.066,3.521   l-10.733,28.291l-10.734-28.291c-0.675-1.783-2.203-3.106-4.066-3.521c-10.539-2.347-20.489-7.153-29.572-14.284   c-1.77-1.388-4.189-1.6-6.171-0.541c-17.134,9.156-58.239,31.294-69.829,39.107c-19.621,13.217-28.199,61.052-29.72,70.507   c-0.15,0.938-0.063,1.897,0.253,2.793c0.416,1.174,6.905,17.982,39.357,31.496c1.871-2.358,4.363-4.146,7.166-5.152   c-3.482-1.236-6.504-3.659-8.437-6.911c-2.88-4.846-2.987-10.927-0.286-15.858c8.32-15.23,24.254-24.706,41.604-24.729   c16.138,0,30.767,8.019,39.454,21.053h61.926c1.7-2.539,3.65-4.914,5.838-7.109c8.95-8.976,20.857-13.928,33.529-13.946h0.01h0.01   c17.336,0,33.29,9.424,41.639,24.602c2.706,4.926,2.615,10.995-0.248,15.857c-1.922,3.253-4.936,5.684-8.414,6.931   c2.852,1.01,5.383,2.825,7.268,5.224c32.369-13.507,38.848-30.284,39.264-31.456C330.584,300.224,330.671,299.264,330.52,298.327z"></path><path d="M278.414,340.434h-0.004l-29.836,0.041c-0.529-1.256-1.545-4.744-1.555-13.065c-0.014-8.322,0.99-11.816,1.518-13.075   l29.828-0.044c0.713-0.004,1.371-0.379,1.732-0.992c0.363-0.615,0.373-1.371,0.031-1.995   c-5.885-10.698-17.115-17.342-29.369-17.342c-8.934,0.013-17.326,3.505-23.633,9.831c-3.25,3.258-5.73,7.074-7.383,11.225h-78.668   c-4.939-12.315-16.992-21.053-31.082-21.053c-12.217,0.017-23.451,6.699-29.318,17.441c-0.342,0.624-0.328,1.383,0.035,1.994   c0.363,0.611,1.021,0.984,1.732,0.984h0.002l29.836-0.047c0.531,1.256,1.545,4.744,1.555,13.068   c0.014,8.323-0.99,11.815-1.518,13.072l-29.828,0.045c-0.711,0.001-1.369,0.379-1.732,0.99c-0.361,0.613-0.373,1.372-0.029,1.996   c5.883,10.697,17.117,17.346,29.318,17.346h0.049c8.936-0.014,17.326-3.506,23.635-9.833c3.25-3.26,5.729-7.077,7.381-11.228   h78.666c4.94,12.319,16.984,21.056,31.039,21.058c0,0,0.045,0,0.047,0c12.215-0.017,23.451-6.703,29.318-17.438   c0.342-0.625,0.328-1.385-0.035-1.995C279.783,340.807,279.125,340.434,278.414,340.434z"></path>
</g></svg></span>
                      <h5 class="u-text u-text-body-alt-color u-text-3">Mecanica</h5>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3"><span class="u-icon u-icon-circle u-spacing-10 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.001 496.001" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ed92"></use></svg><svg class="u-svg-content" viewBox="0 0 496.001 496.001" x="0px" y="0px" id="svg-ed92" style="enable-background:new 0 0 496.001 496.001;"><g><g><g><path d="M488.001,344.001c4.418,0,8-3.582,8-8v-272c0-2.122-0.844-4.156-2.344-5.656l-16-16c-1.5-1.5-3.534-2.344-5.656-2.344     h-88v-32c0-4.418-3.582-8-8-8h-96c-4.418,0-8,3.582-8,8v32h-176v-8c0-4.418-3.582-8-8-8h-48c-2.654,0.031-5.112,1.401-6.536,3.64     l-0.12-0.08l-32,48c-1.794,2.688-1.794,6.192,0,8.88l32,48l0.12-0.08c1.424,2.239,3.882,3.609,6.536,3.64h48c4.418,0,8-3.582,8-8     v-8h16v24c0,4.418,3.582,8,8,8h8v16h-8c-4.418,0-8,3.582-8,8v24h-32c-4.418,0-8,3.582-8,8v32c0.026,1.291,0.372,2.556,1.008,3.68     l-30.664,30.664c-1.5,1.5-2.344,3.534-2.344,5.656v208c0,4.418,3.582,8,8,8h208c4.418,0,8-3.582,8-8v-208     c0-2.122-0.844-4.156-2.344-5.656l-30.664-30.664c0.636-1.124,0.982-2.389,1.008-3.68v-32c0-4.418-3.582-8-8-8h-32v-24     c0-4.418-3.582-8-8-8h-8v-16h8c4.418,0,8-3.582,8-8v-24h80v20.688l-29.656,29.656c-1.5,1.5-2.344,3.534-2.344,5.656v16     c0,4.418,3.582,8,8,8h32c2.122,0,4.156-0.844,5.656-2.344l32-32c1.5-1.5,2.344-3.534,2.344-5.656v-40h16v24     c0,2.122,0.844,4.156,2.344,5.656l29.656,29.656v100.688h-24c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h72v16h-8     c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h80c4.418,0,8-3.582,8-8v-48c0-4.418-3.582-8-8-8h-8v-16H488.001z M32.001,101.601     l-14.4-21.6l14.4-21.6V101.601z M80.001,120.001h-32v-80h32V120.001z M288.001,16.001h80v24h-80V16.001z M128.001,184.001h48v16     h-48V184.001z M144.001,168.001v-16h16v16H144.001z M248.001,480.001h-192v-68.688l20.28-20.28     c4.494-4.515,10.606-7.047,16.976-7.032h5.488c6.37-0.015,12.482,2.517,16.976,7.032l13.248,13.248     c7.486,7.527,17.672,11.747,28.288,11.72h5.488c10.616,0.027,20.802-4.193,28.288-11.72l13.248-13.248     c4.494-4.515,10.606-7.047,16.976-7.032h5.488c6.37-0.015,12.482,2.517,16.976,7.032l4.28,4.28V480.001z M248.001,283.313v90.896     c-6.352-4.046-13.725-6.199-21.256-6.208h-5.488c-10.616-0.027-20.802,4.193-28.288,11.72l-13.248,13.248     c-4.492,4.518-10.605,7.051-16.976,7.032h-5.488c-6.371,0.018-12.484-2.514-16.976-7.032l-13.248-13.248     c-7.486-7.527-17.672-11.747-28.288-11.72h-5.488c-10.616-0.027-20.802,4.193-28.288,11.72l-8.968,8.968V283.313l35.312-35.312     h121.376L248.001,283.313z M216.001,216.001v16h-128v-16H216.001z M176.001,136.001h-48v-16h48V136.001z M224.001,104.001h-128     v-48h128V104.001z M240.001,104.001v-16h32v16H240.001z M304.001,156.689l-27.312,27.312h-20.688v-4.688l29.656-29.656     c1.5-1.5,2.344-3.534,2.344-5.656v-56h16V156.689z M320.001,104.001v-16h32v16H320.001z M352.001,140.689v-20.688h8     c4.418,0,8-3.582,8-8v-32c0-4.418-3.582-8-8-8h-120v-16h228.688l11.312,11.312v212.688h-96v-32h24v-16h-24v-32h24v-16h-24v-8     c0-2.122-0.844-4.156-2.344-5.656L352.001,140.689z M480.001,408.001h-64v-32h64V408.001z M432.001,360.001v-16h32v16H432.001z      M352.001,328.001v-32h128v32H352.001z"></path><path d="M472.001,432.001h-48c-4.418,0-8,3.582-8,8s3.582,8,8,8h48c4.418,0,8-3.582,8-8S476.419,432.001,472.001,432.001z"></path><path d="M464.001,456.001h-32c-4.418,0-8,3.582-8,8s3.582,8,8,8h32c4.418,0,8-3.582,8-8S468.419,456.001,464.001,456.001z"></path><path d="M456.001,480.001h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S460.419,480.001,456.001,480.001z"></path><rect x="72.001" y="416.001" width="16" height="16"></rect><rect x="88.001" y="448.001" width="16" height="16"></rect><rect x="120.001" y="432.001" width="16" height="16"></rect><rect x="168.001" y="432.001" width="16" height="16"></rect><rect x="200.001" y="448.001" width="16" height="16"></rect><rect x="216.001" y="416.001" width="16" height="16"></rect>
</g>
</g>
</g></svg></span>
                      <h5 class="u-text u-text-body-alt-color u-text-4">Pintura</h5>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-layout-cell-4">
                    <div class="u-container-layout u-valign-top u-container-layout-4"><span class="u-icon u-icon-circle u-spacing-10 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.006 512.006" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-941b"></use></svg><svg class="u-svg-content" viewBox="0 0 512.006 512.006" x="0px" y="0px" id="svg-941b" style="enable-background:new 0 0 512.006 512.006;"><g><g><g><path d="M508.885,205.784l-42.667-42.667c-2.005-2.005-4.715-3.115-7.552-3.115H448v-10.667c0-2.837-1.131-5.547-3.115-7.552     l-85.333-85.333C342.443,39.342,313.771,10.67,256,10.67c-57.728,0-84.203,26.475-103.552,45.781     c-3.051,3.051-3.968,7.637-2.304,11.627c1.643,3.989,5.547,6.592,9.856,6.592c86.037,0,96,36.523,96,64     c0,22.827-12.928,40.213-21.184,49.067l69.696,69.696c18.859-12.757,45.653-27.819,58.155-26.709v14.613     c0,2.837,1.131,5.547,3.115,7.552l53.333,53.333c2.005,1.984,4.715,3.115,7.552,3.115h0.363c2.965-0.085,5.739-1.408,7.659-3.627     l74.667-85.333C513.067,216.131,512.853,209.774,508.885,205.784z"></path><path d="M16.128,406.126C5.739,416.515,0,430.339,0,446.296c0,30.357,24.683,55.04,55.04,55.04     c15.467,0,30.315-6.571,40.725-18.005L288.363,271.47l-68.779-68.8L16.128,406.126z"></path>
</g>
</g>
</g></svg></span>
                      <h5 class="u-text u-text-body-alt-color u-text-5">bate-chapas<br>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="carousel_a1df">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-text u-text-grey-40 u-text-1">OS NOSSOS SERVIÇOS</h5>
        <h1 class="u-text u-text-2">Como podemos ajudar ?</h1>
        <p class="u-text u-text-3">Auto-Tudo é uma oficina especializada em&nbsp;</p>
        <a href="https://nicepage.com/k/hacker-html-templates" class="u-border-1 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-3 u-btn-1" target="_blank">LIGUE JÁ</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="carousel_8423">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-40 u-image-1" data-image-width="150" data-image-height="99">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <p class="u-text u-text-1">By planning ahead you can save yourself from feeling stressed and overwhelmed. Our Repair Services is the handyman service provider trusted throughout Pennsylvania. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <h2 class="u-text u-text-2">Need Help Right Away? </h2>
                      <h3 class="u-text u-text-palette-2-base u-text-3"><b style="">Call us now: 723-123-345</b>&nbsp;<br>
                      </h3>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-2" data-image-width="150" data-image-height="100">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-4" id="carousel_ee38">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-size-27 u-size-xs-60 u-image-1" src="">
                <div class="u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-33 u-size-xs-60 u-layout-cell-2" src="">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-palette-1-base u-text-1">A melhor qualidade</h2>
                  <div class="u-border-10 u-border-palette-2-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                  <p class="u-text u-text-2">Colocar aqui a foto do certificado de 3 estrelas</p>
                  <a href="https://nicepage.com/k/interactive-website-templates" class="u-border-1 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-3 u-btn-1">LIGUE JÁ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="carousel_abe0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">Os nossos serviços</h1>
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-18 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 360.855 360.855" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f807"></use></svg><svg class="u-svg-content" viewBox="0 0 360.855 360.855" x="0px" y="0px" id="svg-f807" style="enable-background:new 0 0 360.855 360.855;"><g><path d="M180.428,197.204c24.125,0,80.846-29.034,80.846-98.603c0-9.704-0.236-19.078-1.036-27.935   c-1.313-17.431-4.883-32.879-13.772-44.718C235.064,9.837,215.116,0,180.428,0c-34.682,0-54.629,9.833-66.031,25.939   c-8.895,11.842-12.467,27.294-13.779,44.731c-0.799,8.856-1.035,18.229-1.035,27.932   C99.582,168.17,156.303,197.204,180.428,197.204z M206.817,36.123c-2.354,5.951-3.534,8.927-5.89,14.877   c-15.209-4.297-25.791-4.297-41,0c-2.355-5.95-3.535-8.926-5.891-14.877C173.057,30.365,187.799,30.366,206.817,36.123z    M111.609,83.517c0.932,2.037,4.889,9.87,11.014,10.604c7.041,0.845,18.728-24.935,57.805-24.998   c39.076,0.063,50.764,25.843,57.805,24.998c6.125-0.735,10.082-8.567,11.014-10.604c0.189,4.992,0.259,10.046,0.259,15.085   c0,34.005-15.015,55.075-27.612,66.762c-15.871,14.727-33.493,20.072-41.465,20.072s-25.594-5.345-41.465-20.072   c-12.598-11.687-27.612-32.757-27.612-66.762C111.351,93.563,111.42,88.509,111.609,83.517z"></path><path d="M330.52,298.327c-4.128-25.664-12.624-58.724-29.668-70.472c-11.64-8.026-52.248-29.721-69.589-38.985l-0.293-0.156   c-1.982-1.059-4.403-0.846-6.169,0.541c-9.084,7.131-19.034,11.937-29.574,14.284c-1.862,0.415-3.391,1.738-4.066,3.521   l-10.733,28.291l-10.734-28.291c-0.675-1.783-2.203-3.106-4.066-3.521c-10.539-2.347-20.489-7.153-29.572-14.284   c-1.77-1.388-4.189-1.6-6.171-0.541c-17.134,9.156-58.239,31.294-69.829,39.107c-19.621,13.217-28.199,61.052-29.72,70.507   c-0.15,0.938-0.063,1.897,0.253,2.793c0.416,1.174,6.905,17.982,39.357,31.496c1.871-2.358,4.363-4.146,7.166-5.152   c-3.482-1.236-6.504-3.659-8.437-6.911c-2.88-4.846-2.987-10.927-0.286-15.858c8.32-15.23,24.254-24.706,41.604-24.729   c16.138,0,30.767,8.019,39.454,21.053h61.926c1.7-2.539,3.65-4.914,5.838-7.109c8.95-8.976,20.857-13.928,33.529-13.946h0.01h0.01   c17.336,0,33.29,9.424,41.639,24.602c2.706,4.926,2.615,10.995-0.248,15.857c-1.922,3.253-4.936,5.684-8.414,6.931   c2.852,1.01,5.383,2.825,7.268,5.224c32.369-13.507,38.848-30.284,39.264-31.456C330.584,300.224,330.671,299.264,330.52,298.327z"></path><path d="M278.414,340.434h-0.004l-29.836,0.041c-0.529-1.256-1.545-4.744-1.555-13.065c-0.014-8.322,0.99-11.816,1.518-13.075   l29.828-0.044c0.713-0.004,1.371-0.379,1.732-0.992c0.363-0.615,0.373-1.371,0.031-1.995   c-5.885-10.698-17.115-17.342-29.369-17.342c-8.934,0.013-17.326,3.505-23.633,9.831c-3.25,3.258-5.73,7.074-7.383,11.225h-78.668   c-4.939-12.315-16.992-21.053-31.082-21.053c-12.217,0.017-23.451,6.699-29.318,17.441c-0.342,0.624-0.328,1.383,0.035,1.994   c0.363,0.611,1.021,0.984,1.732,0.984h0.002l29.836-0.047c0.531,1.256,1.545,4.744,1.555,13.068   c0.014,8.323-0.99,11.815-1.518,13.072l-29.828,0.045c-0.711,0.001-1.369,0.379-1.732,0.99c-0.361,0.613-0.373,1.372-0.029,1.996   c5.883,10.697,17.117,17.346,29.318,17.346h0.049c8.936-0.014,17.326-3.506,23.635-9.833c3.25-3.26,5.729-7.077,7.381-11.228   h78.666c4.94,12.319,16.984,21.056,31.039,21.058c0,0,0.045,0,0.047,0c12.215-0.017,23.451-6.703,29.318-17.438   c0.342-0.625,0.328-1.385-0.035-1.995C279.783,340.807,279.125,340.434,278.414,340.434z"></path>
</g></svg></span>
                  <h4 class="u-text u-text-2">Mecanica<br>
                  </h4>
                  <p class="u-text u-text-3">We'll send a multi-skilled repairman to your residential or commercial property so you save the time and...</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-18 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.001 496.001" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ac55"></use></svg><svg class="u-svg-content" viewBox="0 0 496.001 496.001" x="0px" y="0px" id="svg-ac55" style="enable-background:new 0 0 496.001 496.001;"><g><g><g><path d="M488.001,344.001c4.418,0,8-3.582,8-8v-272c0-2.122-0.844-4.156-2.344-5.656l-16-16c-1.5-1.5-3.534-2.344-5.656-2.344     h-88v-32c0-4.418-3.582-8-8-8h-96c-4.418,0-8,3.582-8,8v32h-176v-8c0-4.418-3.582-8-8-8h-48c-2.654,0.031-5.112,1.401-6.536,3.64     l-0.12-0.08l-32,48c-1.794,2.688-1.794,6.192,0,8.88l32,48l0.12-0.08c1.424,2.239,3.882,3.609,6.536,3.64h48c4.418,0,8-3.582,8-8     v-8h16v24c0,4.418,3.582,8,8,8h8v16h-8c-4.418,0-8,3.582-8,8v24h-32c-4.418,0-8,3.582-8,8v32c0.026,1.291,0.372,2.556,1.008,3.68     l-30.664,30.664c-1.5,1.5-2.344,3.534-2.344,5.656v208c0,4.418,3.582,8,8,8h208c4.418,0,8-3.582,8-8v-208     c0-2.122-0.844-4.156-2.344-5.656l-30.664-30.664c0.636-1.124,0.982-2.389,1.008-3.68v-32c0-4.418-3.582-8-8-8h-32v-24     c0-4.418-3.582-8-8-8h-8v-16h8c4.418,0,8-3.582,8-8v-24h80v20.688l-29.656,29.656c-1.5,1.5-2.344,3.534-2.344,5.656v16     c0,4.418,3.582,8,8,8h32c2.122,0,4.156-0.844,5.656-2.344l32-32c1.5-1.5,2.344-3.534,2.344-5.656v-40h16v24     c0,2.122,0.844,4.156,2.344,5.656l29.656,29.656v100.688h-24c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h72v16h-8     c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h80c4.418,0,8-3.582,8-8v-48c0-4.418-3.582-8-8-8h-8v-16H488.001z M32.001,101.601     l-14.4-21.6l14.4-21.6V101.601z M80.001,120.001h-32v-80h32V120.001z M288.001,16.001h80v24h-80V16.001z M128.001,184.001h48v16     h-48V184.001z M144.001,168.001v-16h16v16H144.001z M248.001,480.001h-192v-68.688l20.28-20.28     c4.494-4.515,10.606-7.047,16.976-7.032h5.488c6.37-0.015,12.482,2.517,16.976,7.032l13.248,13.248     c7.486,7.527,17.672,11.747,28.288,11.72h5.488c10.616,0.027,20.802-4.193,28.288-11.72l13.248-13.248     c4.494-4.515,10.606-7.047,16.976-7.032h5.488c6.37-0.015,12.482,2.517,16.976,7.032l4.28,4.28V480.001z M248.001,283.313v90.896     c-6.352-4.046-13.725-6.199-21.256-6.208h-5.488c-10.616-0.027-20.802,4.193-28.288,11.72l-13.248,13.248     c-4.492,4.518-10.605,7.051-16.976,7.032h-5.488c-6.371,0.018-12.484-2.514-16.976-7.032l-13.248-13.248     c-7.486-7.527-17.672-11.747-28.288-11.72h-5.488c-10.616-0.027-20.802,4.193-28.288,11.72l-8.968,8.968V283.313l35.312-35.312     h121.376L248.001,283.313z M216.001,216.001v16h-128v-16H216.001z M176.001,136.001h-48v-16h48V136.001z M224.001,104.001h-128     v-48h128V104.001z M240.001,104.001v-16h32v16H240.001z M304.001,156.689l-27.312,27.312h-20.688v-4.688l29.656-29.656     c1.5-1.5,2.344-3.534,2.344-5.656v-56h16V156.689z M320.001,104.001v-16h32v16H320.001z M352.001,140.689v-20.688h8     c4.418,0,8-3.582,8-8v-32c0-4.418-3.582-8-8-8h-120v-16h228.688l11.312,11.312v212.688h-96v-32h24v-16h-24v-32h24v-16h-24v-8     c0-2.122-0.844-4.156-2.344-5.656L352.001,140.689z M480.001,408.001h-64v-32h64V408.001z M432.001,360.001v-16h32v16H432.001z      M352.001,328.001v-32h128v32H352.001z"></path><path d="M472.001,432.001h-48c-4.418,0-8,3.582-8,8s3.582,8,8,8h48c4.418,0,8-3.582,8-8S476.419,432.001,472.001,432.001z"></path><path d="M464.001,456.001h-32c-4.418,0-8,3.582-8,8s3.582,8,8,8h32c4.418,0,8-3.582,8-8S468.419,456.001,464.001,456.001z"></path><path d="M456.001,480.001h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S460.419,480.001,456.001,480.001z"></path><rect x="72.001" y="416.001" width="16" height="16"></rect><rect x="88.001" y="448.001" width="16" height="16"></rect><rect x="120.001" y="432.001" width="16" height="16"></rect><rect x="168.001" y="432.001" width="16" height="16"></rect><rect x="200.001" y="448.001" width="16" height="16"></rect><rect x="216.001" y="416.001" width="16" height="16"></rect>
</g>
</g>
</g></svg></span>
                  <h4 class="u-text u-text-4">Pintura<br>
                  </h4>
                  <p class="u-text u-text-5">We'll send a multi-skilled repairman to your residential or commercial property so you save the time and...</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-3"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-18 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.006 512.006" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a473"></use></svg><svg class="u-svg-content" viewBox="0 0 512.006 512.006" x="0px" y="0px" id="svg-a473" style="enable-background:new 0 0 512.006 512.006;"><g><g><g><path d="M508.885,205.784l-42.667-42.667c-2.005-2.005-4.715-3.115-7.552-3.115H448v-10.667c0-2.837-1.131-5.547-3.115-7.552     l-85.333-85.333C342.443,39.342,313.771,10.67,256,10.67c-57.728,0-84.203,26.475-103.552,45.781     c-3.051,3.051-3.968,7.637-2.304,11.627c1.643,3.989,5.547,6.592,9.856,6.592c86.037,0,96,36.523,96,64     c0,22.827-12.928,40.213-21.184,49.067l69.696,69.696c18.859-12.757,45.653-27.819,58.155-26.709v14.613     c0,2.837,1.131,5.547,3.115,7.552l53.333,53.333c2.005,1.984,4.715,3.115,7.552,3.115h0.363c2.965-0.085,5.739-1.408,7.659-3.627     l74.667-85.333C513.067,216.131,512.853,209.774,508.885,205.784z"></path><path d="M16.128,406.126C5.739,416.515,0,430.339,0,446.296c0,30.357,24.683,55.04,55.04,55.04     c15.467,0,30.315-6.571,40.725-18.005L288.363,271.47l-68.779-68.8L16.128,406.126z"></path>
</g>
</g>
</g></svg></span>
                  <h4 class="u-text u-text-6">Bate-chapas<br>
                  </h4>
                  <p class="u-text u-text-7">We'll send a multi-skilled repairman to your residential or commercial property so you save the time and...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-base u-section-6" id="carousel_bf10">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-31 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <h6 class="u-custom-font u-font-montserrat u-text u-text-1">about us</h6>
                      <h3 class="u-text u-text-2">Plumbing <b>Services</b>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-29 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="900" data-image-height="600">
                        <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
                      </div>
                      <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" data-image-width="800" data-image-height="611">
                        <div class="u-container-layout u-valign-middle u-container-layout-3"></div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-image u-layout-cell u-size-30 u-image-3">
                        <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                      </div>
                      <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-4">
                        <div class="u-container-layout u-valign-middle u-container-layout-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-7" id="carousel_bb9b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <h2 class="u-text u-text-1">Get your 'TO DO' list completed by a real professional!</h2>
                      <p class="u-text u-text-2">We’re on a mission to help build long-lasting brands that shape and define an entire industry through thoughtful design.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center-sm u-align-center-xs u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <a href="https://nicepage.com/k/hacker-html-templates" class="u-border-1 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-3 u-btn-1">Book now</a>
                    </div>
                  </div>
                  <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <a href="https://nicepage.com/k/home-improvement-website-templates" class="u-border-1 u-border-grey-dark-1 u-btn u-btn-round u-button-style u-radius-3 u-btn-2">CALL US</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-198b"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  </body>
</html>